body{
    background-color: red;
}

p{
text-align: center;
color: bisque;
    
}

h2{
   color: aquamarine;
}

h3{
 color: blueviolet;
}

#Second{
    color: chartreuse;
}
.Adi{
    border: 2px solid black;
}

h2,p{
    color: rgb(45, 181, 186);
}
/* Id deffend by # 
 Class is defined by .
 Group by h1,h2,h3,p{}*/
